@use '../../../src/styles/mixins' as mixins;
@use '../../../src/styles/variables' as vars;

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 4px 8px;
  background-color: transparent;
  border: 1px solid vars.$hulk;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  @include mixins.text-style(16px, 22px, 600, vars.$hulk);
  cursor: pointer;

  &:hover {
    color: vars.$white;
    background-color: vars.$hulk;
  }

  &.active {
    color: vars.$white;
    background-color: vars.$hulk;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;

    &:hover {
      color: vars.$hulk;
      background-color: transparent;
    }
  }
}

@media (max-width: 1280px) {
  .button {
    padding: 3px 6px;
    @include mixins.text-style(14px, 16px);
  }
}
