@use "../../../styles/mixins" as mixins;
@use "../../../styles/variables" as vars;

.mnemo {
  position: relative;
  width: 1000px;

  &__control {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }

  &__param {
    position: absolute;
    display: flex;
    flex-direction: column;
    border: 2px solid vars.$black;
    border-radius: 3px;
    @include mixins.text-style(14px, 16px, 600);
    transition: box-shadow 0.5s ease;

    &.enabled {
      cursor: pointer;

      &:hover {
        box-shadow: 0 0 10px 4px rgba(0, 128, 0, 0.5);
        background-color: rgba(0, 255, 0, 0.1);
        transition: box-shadow 0.5s ease;
      }
    }

    &-naimenov {
      background-color: vars.$hulk;
      color: black;
      padding: 3px;
      border-bottom: 1px solid vars.$black;
    }

    &-text {
      display: flex;
      justify-content: space-around;
      text-align: center;
      background-color: rgb(197, 192, 192);
      padding: 3px;
    }

    &-value {
      color: vars.$blue;
    }

    &-span {
      color: vars.$black;
    }
  }

  &__descr {
    position: absolute;
    @include mixins.text-style(16px, 14px, 600, vars.$hulk);
    text-align: center;
    z-index: 1;
  }

  &__img {
    width: 1000px;
  }

  &__alarm {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 58px;

    &-text {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      max-width: 70px;
      @include mixins.text-style(14px, 14px, 600);
      text-align: center;
    }
  }

}

.mnemo__valve {
  position: absolute;

  &-1 {
    top: 438px;
    left: 150px;
  }

  &-2 {
    top: 175px;
    left: 83px;
  }

  &-3 {
    top: 300px;
    left: 82px;
  }

  &-4 {
    top: 175px;
    left: 167px;
  }
}

.mnemo__gif {
  position: absolute;
  z-index: 1;

  &-1 {
    top: 44.3%;
    left: 24.5%;
    width: 280px;
    height: 101px;
  }

  &-2,
  &-3,
  &-4 {
    top: 73%;
    width: 45px;
    height: 45px;
    animation: rotate 1s infinite linear;
    animation-play-state: paused;
  }

  &-2 {
    left: 69.3%;
  }

  &-3 {
    left: 14.4%;
  }

  &-4 {
    top: 37%;
    left: 65.8%;
  }

  &-5 {
    top: 55.5%;
    left: 25%;
    rotate: 50deg;
  }

  &-6 {
    top: 54.8%;
    left: 22.6%;
  }

  &-7 {
    right: 27%;
    top: 13.3%;
    width: 40px;
    height: 80px;
  }
}

.im {
  position: absolute;
  font-size: 16px;
  font-weight: 600;
  line-height: 14px;
  @include mixins.text-style(16px, 14px, 600, vars.$black);

  &__level {
    top: 31.5%;
    left: 79.5%;
    color: vars.$blue;
  }

  &__vacuum {
    top: 63%;
    left: 78%;
  }

  &__vozduh {
    top: 72%;
    left: 9.2%;
  }

  &__gaz {
    top: 48%;
    left: 15%;
  }
}


.davlenie-gaza {
  top: 43%;
  left: 30%;
}

.davlenie-vozduha {
  top: 63%;
  left: 30%;
}

.davlenie-para {
  top: 21%;
  left: 57%;
}

.vacuum {
  top: 63%;
  left: 57%;
}

.level {
  top: 31%;
  left: 41%;
}


.alarm {
  &__active {
    background-color: vars.$red;
    color: vars.$black;
  }

  &__inactive {
    background-color: vars.$grey;
    color: vars.$black;
  }

  &__vozduh-low {
    top: 9.5%;
    left: 6.7%;
  }

  &__gaz-low {
    top: 9.5%;
    left: 16.4%;
  }

  &__gaz-high {
    top: 9.5%;
    left: 26.1%;
  }

  &__level-low {
    top: 9.5%;
    left: 35.8%;
  }

  &__level-high {
    top: 9.5%;
    left: 45.5%;
  }

  &__torch-disappeared {
    top: 9.5%;
    left: 55.2%;
  }

  &__vacuum-low {
    top: 9.5%;
    left: 64.9%;
  }

  &__smoke-off {
    top: 9.5%;
    left: 74.5%;
  }

  &__boiler-stop {
    top: 9.5%;
    left: 84.3%;
  }
}

.info {
  &__active {
    background-color: vars.$hulk;
    color: vars.$black;
  }

  &__inactive {
    background-color: vars.$grey;
    color: vars.$black;
  }

  &__boiler-stop {
    bottom: 5.1%;
    left: 16.4%;
  }

  &__fan-mode {
    bottom: 5.1%;
    left: 26.1%;
  }

  &__ignition {
    bottom: 5.1%;
    left: 35.8%;
  }

  &__stabilization {
    bottom: 5.1%;
    left: 45.5%;
  }

  &__ignition-burner {
    bottom: 5.1%;
    left: 55.2%;
  }

  &__stabilization-burner {
    bottom: 5.1%;
    left: 64.9%;
  }

  &__work-mode {
    bottom: 5.1%;
    left: 74.6%;
  }
}

.text {
  &__fan {
    top: 80.5%;
    left: 88.5%;
  }

  &__smoke {
    top: 80.5%;
    left: 18%;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1280px) {
  .im {

    &__level {
      top: 30.5%;
    }

    &__gaz {
      top: 47%;
    }
  }

  .mnemo__valve {

    &-1 {
      top: 429px;
    }

    &-2 {
      left: 82px;
    }

    &-3 {
      top: 290px;
    }

    &-4 {
      left: 166px;
    }
  }

  .davlenie-gaza {
    top: 42%;
  }


  .davlenie-para {
    top: 20.5%;
  }

  .level {
    top: 30%;
  }

  .alarm {
    &__vozduh-low {
      top: 8.6%;
    }

    &__gaz-low {
      top: 8.6%;
    }

    &__gaz-high {
      top: 8.6%;
    }

    &__level-low {
      top: 8.6%;
    }

    &__level-high {
      top: 8.6%;
    }

    &__torch-disappeared {
      top: 8.6%;
    }

    &__vacuum-low {
      top: 8.6%;
    }

    &__smoke-off {
      top: 8.6%;
    }

    &__boiler-stop {
      top: 8.6%;
    }
  }
}