@use "../../../styles/mixins" as mixins;
@use "../../../styles/variables" as vars;

.mnemo {
  margin-top: 10px;
  position: relative;
  width: 1200px;

  &__img {
    width: 1200px;
  }

  &__control {
    position: absolute;
    display: flex;
    gap: 5px;
  }

  &__valve {
    position: absolute;
    top: 53.8%;
    left: 54.1%
  }

  &__level {
    &-1,
    &-2 {
      bottom: 40.1%;
      position: absolute;
      width: 61px;
      height: 88px;
    }

    &-1 {
      right: 30.3%
    }

    &-2 {
      right: 17.5%;
    }
  }

  &__param {
    display: flex;
    align-items: center;
    gap: 3px;
    padding: 3px 7px;
    position: absolute;
    background-color: vars.$sharp-pebbles;
    border-radius: 7px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.22);
    transition: background-color 0.3s ease-in-out;
  }

  &__param.no-cursor {
    cursor: default; // Убираем курсор pointer для элементов без тултипов
  }

  &__param.enabled:hover {
    cursor: pointer;
    background-color: vars.$ulva-lactuca-green;
  }

  &__param-text {
    font-size: 15px;
    line-height: 15px;
    font-weight: 600;
    color: vars.$blue;
  }

  &__param-naimenov {
    font-size: 15px;
    line-height: 15px;
    font-weight: 400;
    color: vars.$black;
  }
}

/* parameters */
.davl-vhod-ustanivki {
  left: 4%;
  top: 29.5%;
}

.rashod-vody-na-ustanovky {
  left: 5%;
  top: 18%;
}

.davl-posle-nasosov-1-1-2-3 {
  left: 22.5%;
  top: 6%;
}

.uroven-e1-1 {
  right: 30.1%;
  bottom: 37%;
  padding: 2px;
}

.uroven-e1-2 {
  right: 17.3%;
  bottom: 37%;
  padding: 2px;
}

.rashod-vody-na-promyvky {
  right: 0.5%;
  top: 48%;
}

.davl-posle-nasosov-2-1-2 {
  padding: 2px;
  right: 7.5%;
  bottom: 24.5%;
}

.davl-posle-nasosov-3-1-2 {
  padding: 2px;
  right: 7.5%;
  bottom: 17%;
}

.kontrol-im-1 {
  right: 41.5%;
  bottom: 51%;
}

.zadanie-uroven-e1-1-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 2px;
  width: 31px;
  right: 41.5%;
  bottom: 42%;
}

.n1-1-percent {
  width: 50px;
  padding: 1px 4px;
  left: 14.3%;
  top: 12%;
}

.n1-1-hz {
  width: 57px;
  padding: 1px 4px;
  left: 20.5%;
  top: 12%;
}

.n1-2-percent {
  width: 50px;
  padding: 1px 4px;
  left: 14.3%;
  top: 18%;
}

.n1-2-hz {
  width: 57px;
  padding: 1px 4px;
  left: 20.5%;
  top: 18%;
}

.n2-1-percent {
  width: 57px;
  padding: 0 4px;
  right: 21.5%;
  bottom: 27.5%;
}

.n2-1-hz {
  width: 57px;
  padding: 0 4px;
  right: 15.5%;
  bottom: 27.5%;
}

.n2-2-percent {
  width: 57px;
  padding: 0 4px;
  right: 21.5%;
  bottom: 21.5%;
}

.n2-2-hz {
  width: 57px;
  padding: 0 4px;
  right: 15.5%;
  bottom: 21.5%;
}

@media (max-width: 1280px) {
  .mnemo {
    width: 976px;

    &__img {
      width: 976px;
    }


    &__valve {
      left: 53.9%
    }

    &__level {
      &-1,
      &-2 {
        width: 51px;
        height: 73px;
      }
    }

    &__param-naimenov,
    &__param-text {
      font-size: 13px;
      line-height: 13px;
    }

    &__param {
      padding: 0 2px;
    }

  }

  .uroven-e1-1 {
    width: 59px;
    right: 30%;
    bottom: 37%;
  }

  .uroven-e1-2 {
    width: 59px;
    right: 17%;
    bottom: 37%;
  }

  .n1-1-percent {
    width: 45px;
    left: 14.3%;
    top: 12%;
  }

  .n1-1-hz {
    width: 45px;
    left: 20%;
    top: 12%;
  }

  .n1-2-percent {
    width: 45px;
    left: 14.3%;
    top: 18%;
  }

  .n1-2-hz {
    width: 45px;
    left: 20%;
    top: 18%;
  }

  .n2-1-percent {
    width: 45px;
    right: 21.5%;
    bottom: 27.5%;
  }

  .n2-1-hz {
    width: 45px;

    right: 15.5%;
    bottom: 27.5%;
  }

  .n2-2-percent {
    width: 45px;

    right: 21.5%;
    bottom: 21.5%;
  }

  .n2-2-hz {
    width: 45px;

    right: 15.5%;
    bottom: 21.5%;
  }

  .column-e1-1 {
    width: 48px;
    height: 71px;
  }

  .column-e1-2 {
    width: 48px;
    height: 71px;
  }

  .davl-posle-nasosov-2-1-2 {
    right: 7.2%;
  }

  .davl-posle-nasosov-3-1-2 {
    right: 7.2%;
  }

  .rashod-vody-na-ustanovky {
    left: 4%;
  }

  .zadanie-uroven-e1-1-2 {
    bottom: 45%;
  }
}
