@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.mnemo__gif {
  position: absolute;
  z-index: 1;

  &-1 {
    top: 46.6%;
    left: 32.5%;
    width: 280px;
    height: 101px;
  }

  &-2,
  &-3,
  &-4 {
    width: 45px;
    height: 45px;
    animation: rotate 1s infinite linear;
    animation-play-state: paused;
  }

  &-2 {
    bottom: 19.8%;
    left: 19%;
  }

  &-3 {
    bottom: 19.8%;
    right: 4.3%;
  }

  &-4 {
    top: 39.7%;
    left: 86.5%;
  }

  &-5 {
    top: 57.5%;
    left: 32%;
    rotate: 50deg;
  }

  &-6 {
    top: 56.7%;
    left: 29.6%;
  }

  &-7 {
    right: 3.9%;
    top: 17%;
    width: 40px;
    height: 80px;
  }
}

@media (max-width: 1280px) {
  .mnemo__gif {
    &-1 {
      top: 46.1%;
    }

    &-4 {
      top: 39.1%;
      left: 86.6%;
    }

    &-6 {
      top: 56.2%;
      left: 29.6%;
    }

    &-7 {
      top: 16%;
    }
  }
}
